&.comparator
  position relative
  left -30px
  height 600px
  margin 18px 0px
  margin-bottom 190px
  .header
    position absolute
    bottom -140px
    width 1000px
    // left 200px
    text-align left
    h2
      font-size 26px
      font-weight 300
      color #1
      margin 0px
      display none
    span.subheader
      display block
      line-height 26px
      font-size 16px
      color #4
      a
        color #4 !important
        &:hover
          text-decoration none
      span.link:last-of-type
        .divider
          display none
      span.link
        a.active
          color prideOrange !important
      &.subheader1
        a
          text-transform lowercase
    ul
      list-style-type none !important
      margin 6px 0px 0px 0px !important
      padding 0px !important
      li
        padding 0px !important
        margin 0px 13px 0px 27px !important
        background none
        float left
        position relative
        span:first-child
          &:before
            content " "
            width 9px
            height 9px
            border-radius 50%
            position absolute
            top 6px
            left -17px
          &:after
            content " "
            position absolute
            width 10px
            height 1px
            background red
            top 10px
            left -27px
        &:first-child span:first-child:before
        &:first-child span:first-child:after
          background lighten(prideRed, 00%)
          border-color lighten(prideRed, 00%)
        &:nth-child(2) span:first-child:before
        &:nth-child(2) span:first-child:after
          background lighten(prideOrange, 00%)
          border-color lighten(prideOrange, 00%)
        &:nth-child(3) span:first-child:before
        &:nth-child(3) span:first-child:after
          background lighten(#a, 00%)
          border-color lighten(#a, 00%)



  .shade
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 10px
    background linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index 2
  svg.comparator
    z-index 1
    position absolute
    top 0px
    left 0px
    .zero-line
      stroke black
      shape-rendering crispEdges
    .paths
      path
        fill none
        stroke #a
        stroke-width 1
        stroke-opacity 0.5
        &.civil
          stroke prideOrange
        &.marriage
          stroke prideRed
      .active path
        stroke-width 3
        stroke-opacity 1
    .terminators
      circle
        fill white
        fill lighten(#a, 00%)
        &.civil
          fill lighten(prideOrange, 00%)
        &.marriage
          fill lighten(prideRed, 00%)
        &.slovakia
          fill #3
      .country:hover path
        stroke-width 3
      .country.slovakia
        path
          stroke-width 1.5
          stroke #3
  .graph-tip
    h3
      margin 0px
    .unit
      text-transform lowercase
