.comparator
  .zero-line
    stroke black
    shape-rendering crispEdges

  .paths
    path
      fill none
      stroke #a
      stroke-width 1
      stroke-opacity 0.5
      &.civil
        stroke prideOrange
        // stroke-width 2
      &.marriage
        stroke prideRed
        // stroke-width 2
    circle
      fill white
      fill lighten(#a, 00%)
      &.civil
        // stroke prideOrange
        fill lighten(prideOrange, 00%)
      &.marriage
        // stroke prideRed
        fill lighten(prideRed, 00%)
      &.slovakia
        stroke black
        fill #3
    .country:hover path
      stroke-width 3
    .country.slovakia
      path
        stroke-width 1.5
        stroke #3
