#main
  width 980px
#article
  width 950px
  font-family 'Roboto', arial, helvetica,sans-serif
  .date
  .image
    display none
  > h1
    font-size 32px !important
    font-weight 400
    margin-top 20px !important
    line-height 1.5em
    margin-bottom 40px !important
  p.perex
    font-weight 400
  > p
    line-height 1.9em
    font-size 16px
  > h1
  > h2
  > h3
  > p
    margin-left 170px !important
    margin-right 170px !important
.web-zpravy
  background white url('/tools/cro-parts/bg.png')  repeat-x !important
  #nav-sub
    background-image none
