#main
  width 980px
#article
  width 950px
  font-family 'Roboto', arial, helvetica,sans-serif
  .date
  .image
    display none
  > h1
    font-size 38px !important
    font-weight 300
    margin-top 10px !important
    line-height 1.8em
    margin-bottom 40px !important
    text-align center
  > p
    line-height 1.9em
    font-size 16px
  p.perex
    font-weight 300
    text-align center
    line-height 2.2em
    font-size 18px
  > h1
  > h2
  > h3
  > p
    margin-left 200px !important
    margin-right 140px !important
.web-zpravy
  background white url('/tools/cro-parts/bg.png')  repeat-x !important
  #nav-sub
    background-image none
