&.god-correlator
  position relative
  left -30px
  margin-top 50px
  .supplemental
    width 139px
    float left
  .selector
    float left
    clear left
    margin-top 20px
    .title
      float left
      font-weight bold
      width 200px
    ul
      float left
      margin 0px
      padding 0px
      list-style none
      li
        float left
        margin 0px 5px
        a
          color #4 !important
          &:hover
            text-decoration none
          &.active
            color prideOrange !important

  .correlator-container
    width 700px
    height 500px
    float left
    position relative
    svg
      circle
        fill prideViolet
        &.czech
          fill prideOrange
        &.slovakia
          fill prideRed
      .point
        line
          stroke-width 1
          stroke lighten(prideViolet, 90%)
          shape-rendering crispEdges
          opacity 0
        &.active
          line
            opacity 1
      .axis
        line
          stroke-width 1
          stroke lighten(prideViolet, 60%)
          shape-rendering crispEdges
        text
          opacity 0
          font-size 12px
          fill desaturate(prideViolet, 80%)
        g:first-child
        g:last-child
          text
            opacity 1
      &.hasActive
        .axis
          g:first-child
          g:last-child
            text
              opacity 0
          g.active
            text
              opacity 1
    .graph-tip
      width auto
      .content
        min-height 0px

