@import colors
@import prefixes
@import 'components/triangle'
@import fitter

.ig
  @import basics
  @import Comparator
  @import GraphTip
  @import SingleLine
  @import SmallMultiples
  @import GodCorrelator
.ig
  svg.voronoi
    position absolute
    top 0px
    left 0px
    z-index 3
    path
      fill transparent
      // stroke red
