&.single-line
  position relative
  left -30px
  height 320px
  margin-top 25px
  svg
    path
      fill none
      stroke prideGreen
      stroke-width 1.5
    line
      stroke #8
      storke-width 1
      shape-rendering crispEdges
      stroke-dasharray 4, 4
    text
      fill #4
    ellipse
      stroke #8
      fill none
      storke-width 1
      stroke-dasharray 4, 4
  h3
    font-size 16px
    color #4
    margin 0px
  &[data-ig="greece"]
    height 220px
    svg path
      stroke prideBlue
