&.small-multiples
  position relative
  svg
    rect
      fill #fb
    path
      fill none
      stroke-width 1
    g.country:nth-of-type(5n+1) path
      stroke hsl(hue(prideRed), 100%, 17%)
    g.country:nth-of-type(5n+2) path
      stroke hsl(hue(prideOrange), 100%, 17%)
    g.country:nth-of-type(5n+3) path
      stroke hsl(hue(prideGreen), 100%, 17%)
    g.country:nth-of-type(5n+4) path
      stroke hsl(hue(prideBlue), 100%, 17%)
    g.country:nth-of-type(5n+5) path
      stroke hsl(hue(prideViolet), 100%, 17%)

    g.country g.graph:nth-of-type(5n+1) rect
      fill hsl(hue(prideRed), 9%, 98%)
    g.country g.graph:nth-of-type(5n+2) rect
      fill hsl(hue(prideOrange), 9%, 98%)
    g.country g.graph:nth-of-type(5n+3) rect
      fill hsl(hue(prideGreen), 9%, 98%)
    g.country g.graph:nth-of-type(5n+4) rect
      fill hsl(hue(prideBlue), 9%, 98%)
    g.country g.graph:nth-of-type(5n+5) rect
      fill hsl(hue(prideViolet), 9%, 98%)

