&.small-multiples
  position relative
  svg
    margin-top 60px
    margin-left 60px
    rect
      fill #fb
    path
      fill none
      stroke-width 1
    text.first-year
      font-size 12px
      fill #6
      &.civil
        fill darken(prideOrange, 10%)
      &.marriage
        fill darken(prideRed, 10%)
      &.marriage-ban
        fill #2
    line.civil, line.marriage, line.marriage-ban
      stroke-width 1
      shape-rendering crispEdges
      stroke-dasharray 4, 6
      &.civil
        stroke prideOrange
      &.marriage
        stroke prideRed
      &.marriage-ban
        stroke #2

    .mouse-line
      line
        shape-rendering crispEdges
        stroke black
      rect
        fill rgba(255,255,255,0.5)
      .year
        fill #4
    g.country:not(:first-of-type):not(:last-of-type)
      .mouse-line
        display none


    g.country:nth-of-type(5n+1) path
      stroke hsl(hue(prideRed), 100%, 17%)
    g.country:nth-of-type(5n+2) path
      stroke hsl(hue(prideOrange), 100%, 17%)
    g.country:nth-of-type(5n+3) path
      stroke hsl(hue(prideGreen), 100%, 17%)
    g.country:nth-of-type(5n+4) path
      stroke hsl(hue(prideBlue), 100%, 17%)
    g.country:nth-of-type(5n+5) path
      stroke hsl(hue(prideViolet), 100%, 17%)

    g.country g.graph:nth-of-type(5n+1) rect
      fill hsl(hue(prideRed), 9%, 98%)
    g.country g.graph:nth-of-type(5n+2) rect
      fill hsl(hue(prideOrange), 9%, 98%)
    g.country g.graph:nth-of-type(5n+3) rect
      fill hsl(hue(prideGreen), 9%, 98%)
    g.country g.graph:nth-of-type(5n+4) rect
      fill hsl(hue(prideBlue), 9%, 98%)
    g.country g.graph:nth-of-type(5n+5) rect
      fill hsl(hue(prideViolet), 9%, 98%)

